<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="manifest" href="manifest.json"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://space.malangmalang.com/v1/netffice.js"></script>
<script src="/login.js"></script>
<script src="/checkManager.js"></script>

<form>
    <p>저장할 ID 입력 <textarea id="userId" cols="30" rows="1"></textarea></p>
    <p>기타 입력할 내용 <textarea id="password" cols="30" rows="1"></textarea></p>
    <button id="registrationButton" onclick="registration()">회원가입</button>
</form>
<div id='login-button-place'></div>
</body>
</html>